.THIS{

}

.THIS.headline{
    font-weight: 500;
    font-size:34px;
    color: #023F57;
    font-weight: bold;
}

.THIS.subheading{
    font-size: 24px;
    color: #727D84;
}

.THIS.banner{
    font-size: 16px;
    color: #727D84;
}