.THIS .pastDue {
  background-color: red;
}
.THIS .header-column-one {
    width:500px; 
    height:50px;
    vertical-align:middle;
    line-height:50px;
    padding-right:20px;
    padding-left:15px;
}
.THIS .header-column-twp {
    width:150px; 
    height:50px;
    vertical-align:middle;
    line-height:50px;
    padding-right:20px;
}

.THIS .tableHeader {
  background-color:#3ABEB6;
  font-size:13px;
  color:white;
}


.THIS .item_style{
    color:#008FD5;
}
.THIS .mySubrowHeader {
    background-color:#3ABEB6;
    color:#FFFFFF;
    
}
.THIS .slds-text-title_caps{
    color:white;
    font-size:13px;
}